#[link(name = "sdl",
       vers = "0.2.0",
       uuid = "0ce89b41-2f92-459e-bbc1-8f5fe32f16cf",
       url = "http://github.com/brson/rust-sdl")];

#[comment = "SDL bindings"];
#[license = "MIT"];
#[crate_type = "lib"];

extern mod std;

pub mod sdl;
pub mod ll;
pub mod conversions;
pub mod util;
pub mod event;
pub mod video;
pub mod keyboard;
pub mod audio;
pub mod start;

#[cfg(image)]
pub mod img;

#[cfg(mixer)]
pub mod mixer;

#[cfg(test)]
mod test;
